<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuzzlingAOS"
        tools:targetApi="31">

        <activity
            android:name=".presentation.writeRetrospective.WriteRetrospectiveActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.invitationCode.InvitationCodeActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"/>
        <activity android:name=".presentation.home.mypage.MyRetrospectActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
        <activity
            android:name=".presentation.team.currentSituation.TeamCurrentSituationFragment"
            android:windowSoftInputMode="adjustPan"
            android:exported="true" />
    </application>

</manifest>